{% extends 'main/base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
        <div class="col-sm-4">
            <h1>Django</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, perspiciatis cumque nulla at sapiente doloremque.</p>
        </div>
    </div>
</div>
{% endblock content %}
