{% extends 'main/base.html' %}
{% block content %} 
<div class="container mt-5">
    <h1 class="text-warning mb-3 border-bottom">Skills</h1>
    <div class="row text-white text-center mb-5 mt-5">
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
        <div class="col-sm-4">
            <h3>Python</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nisi iste asperiores ea!</p>
        </div>
    </div>
</div>
{% endblock content %}